<div class="col-sm-12 form">
  <%= simple_form_for "#", method: :get, remote: true do |f| %>
    <%= f.input 'location', label: false, placeholder: "Departure position", input_html: { class: "mb-2 mr-sm-2" } %>
    <%= f.input 'departure_day', label: false, placeholder: "Departure day", input_html: {class: "datepicker mb-2 mr-sm-2"} %>
    <%= f.input 'departure_time', collection: ["Morning", "Afternoon", "Evening", "Doesn't matter"], label: false, prompt: "Departure time", input_html: {class: "mb-2 mr-sm-2"} %>
    <%= f.submit "FIND DESTINATION", class: "button" %>
  <% end %>
</div>
